@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: #ffffff;
}

.section-header {
  font-size: 47px;
  color: black;
  font-weight: 800;
  text-align: center;
}

:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border: none !important;
}
