@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: #ffffff;
}

.section-header {
  font-size: 47px;
  color: black;
  font-weight: 800;
  text-align: center;
}
