@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: #ffffff;
}

.section-header {
  font-size: 47px;
  color: black;
  font-weight: 800;
  text-align: center;
}

:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-udr3vo).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border: none !important;
}

.react-tel-input .form-control {
  font-size: 14px !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  width: 100% !important;
  outline: none !important;
  padding: 0px 0px 0px 60px !important;
  border: none !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-6cel9w).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  height: 22px !important;
  width: 60px !important;
  display: flex !important;
  align-items: center !important;

  justify-content: flex-end !important;
}

:where(.css-kmfgz).ant-timeline .ant-timeline-item-head-blue {
  color: #038175 !important;
  border-color: #038175 !important;
}

:where(.css-dev-only-do-not-override-kmfgz).ant-timeline
  .ant-timeline-item-head-blue {
  color: #038175 !important;
  border-color: #038175 !important;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInFromLeft 1s ease-out;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInFromRight 1s ease-out;
}
